{% extends 'order_manager/main.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% for order in orders %}
            {% if user == order.creator %}
                <article class="media content-section">
                    <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Order No: {{ order.order_num }}</a>
                    </div>
                    <h2><a class="article-title" href="#">{{ order.creator }}</a></h2>
                    <p class="article-content">Expected Delivery: {{ order.delivery_date|date:"d F, Y" }}</p>
                    <p class="article-content">Shipping Address: {{ order.address}}</p>
                    <p class="article-content">Date Ordered: {{ order.date_ordered|date:"d F, Y" }}</p>
                    
                    </div>
                </article>
            {% endif %}

        {% endfor %}
    {% else %}
    <h1>Welcome to Order Manager</h1>
    <h3>Login to start managing orders</h3>
    {% endif %}
{% endblock content %}